.mentions {
  width: 100%;
  position: relative;
}

.mentions__input {
  width: 100%;
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  line-height: inherit;
  resize: none;
}

.mentions__suggestions__list {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  margin-bottom: 8px;
  background-color: hsl(var(--popover));
  border: 1px solid hsl(var(--border));
  border-radius: var(--radius);
  padding: 0.25rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  max-height: 200px;
  overflow-y: auto;
  z-index: 10;
}

.mentions__suggestions__item {
  padding: 0.5rem;
  border-radius: calc(var(--radius) - 4px);
  cursor: pointer;
}

.mentions__suggestions__item--focused {
  background-color: hsl(var(--accent));
  color: hsl(var(--accent-foreground));
}